<!-- <div class="page-header">
    <p>Book Issue Details # {{issuNo}}</p>
</div> -->

<!-- <mat-card > -->
<table *ngIf="IssueList">
    <thead>
        <tr class="page-header">
            <th> No</th>
            <th>Author</th>
            <th>Book Name</th>
            <th>Accession No</th>
            <th>Return Status</th>
            <th *ngIf="userService.isBookIssuePermission">Return? Yes/No</th>
            <!-- <th>Details</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issue of IssueList;let i=index">
            <td align="center">{{i+1}}</td>
            <td>{{issue.author}}</td>
            <td>{{issue.title}}</td>
            <td>{{issue.accession_no}}</td>
            <td align="center" *ngIf="issue.return_status==1">Yes</td>
            <td align="center" *ngIf="issue.return_status==0">No</td>
            <td align="center">
                    <mat-checkbox *ngIf="userService.isBookIssuePermission" (change)="getReturnBookId(returnCheckbox,issue.issue_details_id,issue.accession_no)" #returnCheckbox [disabled]="issue.return_status==1" [checked]="issue.return_status==1"></mat-checkbox>
            </td>
        </tr>
        <tr *ngIf="userService.isBookIssuePermission">
            <td colspan="6" style="text-align: right;">
                <button mat-raised-button color="primary" (click)="returnBook()">Return</button>
                <!-- <button mat-mini-fab color="primary"> -->
                    <!-- <mat-icon (click)="returnBook()">done</mat-icon> -->
        <!-- </button> -->
            </td>
        </tr>
    </tbody>
</table>
<!-- </mat-card> -->
<mat-card *ngIf="!IssueList">
    <h3>No details found</h3>
</mat-card>
<ngx-loading [show]="loader"></ngx-loading>