<div class="page-header">
    <p *ngIf="!authorEdit">Author Entry</p>
    <p *ngIf="authorEdit">Edit Author</p>
</div>
<mat-card>
    <form [formGroup]="AuthorForm" (ngSubmit)="onAuthorSubmit()">
        <div class="user-type-container">
            <mat-form-field>
                <input type="text" matInput placeholder="Author Name *" formControlName="author_name">
            </mat-form-field>

            <div>&nbsp;</div>

            <div class="submit">
                <button type="submit" mat-raised-button color="accent" *ngIf="!authorEdit" [disabled]="!AuthorForm.valid">Add</button>
            </div>
            <div class="submit">
                <button type="submit" *ngIf="authorEdit" mat-raised-button color="accent" [disabled]="!AuthorForm.valid">Edit</button>
            </div>

        </div>
    </form>
</mat-card>
<ngx-loading [show]="loader"></ngx-loading>