<mat-grid-list cols="5">
    <mat-grid-tile class="item_image" *ngFor="let bd of ArchiveDetails">
        <img *ngIf="bd.cover_image" src="{{url}}uploads/books/{{bd.cover_image}}" />
        <img *ngIf="!bd.cover_image" src="{{dummyUrl}}book_dummy1.png" />
    </mat-grid-tile>
    <mat-grid-tile class="item_details" *ngFor="let bd of ArchiveDetails">
        <p>{{bd.description}}</p>
    </mat-grid-tile>
    <mat-grid-tile class="item_history" colspan="3" *ngFor="let bd of ArchiveDetails">
        <table>
            <tr>
                <th>{{type}} Name</th>
                <th>:</th>
                <td>{{bd.title}}</td>
            </tr>
            <tr>
                <th>Speaker/Author Name</th>
                <th>:</th>
                <td>{{bd.speaker}}</td>
            </tr>
            <tr>
                <th>venue</th>
                <th>:</th>
                <td>{{bd.venue}}</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <th>:</th>
                <td>{{bd.start_date}}</td>
            </tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>
<ngx-loading [show]="loader"></ngx-loading>