mat-card {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    /* height: 74vh; */
}

.submit {
    width: 20%;
}

::-ms-browse {
    background: #3f51b5;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}

::-webkit-file-upload-button {
    background: #3f51b5;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}

form {
    padding: 0 5%;
}

.mat-radio-button {
    padding-right: 7%;
}

.mat-form-field {
    width: 99%;
    /* padding-right: 10%; */
}

.mat-radio-group {
    width: 99%;
}

.mat-checkbox {
    padding-right: 10%;
}

.book_cover input {
    position: absolute;
    bottom: 0;
    left: 0;
}

.book_cover img {
    height: 180px;
}

.book_cover {
    border: 1px solid lightgray;
}

.description_width {
    padding-right: 0;
}

.mat-expansion-panel {
    margin: 4% 0;
    background: lightgray;
}

.mat-expansion-panel .permission_table {
    margin: auto;
    width: 50%;
}

.mat-expansion-panel .mat-expansion-panel-header-title {
    margin-left: 40%;
    font-weight: 600;
    font-size: 20px;
}

.mat-expansion-panel .permission_table tbody>tr>td {
    padding: 10px;
    background: #fff;
}