tr:hover {
    -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
}

table {
    width: 90%;
    text-align: left;
}

table>thead>tr>th,
table>tbody>tr>td {
    padding: 2px;
}

table>tbody:nth-child(even) {
    background: lightgrey;
}

.item_image img {
    width: 190px;
}

.item_image .user_into {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #00838F;
    padding: 0 10%;
    opacity: 0.5;
    color: #fff;
    /* display: none; */
}

.item_image .user_into p{
    /* margin-bottom: 0; */
}


.item_image:hover + .user_into {
    display: block;
}

