/* 


mat-icon{
    cursor: pointer;
} */

form{
    margin: 0 20%;
    /* background-color: #C8E6C9; */
    padding: 10px 2%;
    display: grid;
}

mat-card{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}