<div class="page-header">
    <p>Search PPT</p>
</div>
<mat-card class="book-search">
    <form (ngSubmit)="onPPtSubmit()" #bookForm="ngForm">
        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Serch by book name" [(ngModel)]="bookName" name="bookName">
            <button mat-button *ngIf="bookName" matSuffix mat-icon-button aria-label="Clear" (click)="bookName=''">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
    </form>
</mat-card>

<mat-card *ngIf="book">
    <table>
        <thead>
            <tr class="page-header">
                <th align="center">Video ID</th>
                <th>Title</th>
                <th>Author</th>
                <th align="center">Delay Fine</th>
                <th align="center">Download Pdf</th>
                <th align="center">View Pdf</th>
                <th align="center" *ngIf="userService.isEditBookPermission">Edit</th>
                <th align="center">Details</th>
            </tr>
        </thead>
        <tbody *ngFor="let b of book;let i=index">
            <tr *ngIf="b.type == 3">
                <td align="center">{{i+1}} </td>
                <td> {{b.title}}</td>
                <td> {{b.author}}</td>
                <td align="center"> {{b.fine}}</td>
                <td align="center" *ngIf="canDownload[b.book_id]===1">
                    <a *ngIf="b.file " href="assets/books/{{b.file}}" target="blank">
                        <button mat-raised-button color="primary" *ngIf="b.file ">Download <mat-icon>get_app</mat-icon></button>
                    </a>
                </td>
                <td align="center" *ngIf="canDownload[b.book_id]!==1">
                    <button mat-raised-button color="primary" disabled>Download <mat-icon>get_app</mat-icon></button>
                    <!-- <button mat-raised-button color="primary" disabled>View Book<mat-icon>visibility</mat-icon></button> -->

                </td>
                <td align="center" *ngIf="canView[b.book_id]===1">
                    <button mat-raised-button color="primary" *ngIf="b.file " (click)=" openPdfViewerDialog(b.file,b.book_id)">View Book <mat-icon >visibility</mat-icon>  </button>
                </td>
                <td align="center" *ngIf="canView[b.book_id]!==1">
                    <!-- <button mat-raised-button color="primary" disabled>Download <mat-icon>get_app</mat-icon></button> -->
                    <button mat-raised-button color="primary" disabled>View Book<mat-icon>visibility</mat-icon></button>

                </td>
                <td align="center" *ngIf="userService.isEditBookPermission">
                    <button mat-icon-button>
                      <mat-icon color="primary" (click)="getPPTId(b.book_id)">border_color</mat-icon>
                    </button>
                </td>
                <td align="center">
                    <button mat-icon-button>
            <mat-icon color="warn" (click)="getBookDetails(b.book_id)">view_headline</mat-icon>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>

<ngx-loading [show]="loadingbook"></ngx-loading>